---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { EditorApp } from "../../components/client/EditorApp";
---

<BaseLayout title="Editor - Nostree">
  <div class="h-full w-full">
    <EditorApp client:only="react" />
  </div>
</BaseLayout>
